adder.json
[{"id":"b2eecd12.33401","type":"signal-generator","z":"421176bb.777418","name":"NCO1","signalfrequency":"80","samplingfrequency":"200","framerate":"1000","waveform":"sine","phase":"0","x":310,"y":400,"wires":[["cf9839ea.4d5898"]]},{"id":"6f2977a2.7faa18","type":"function","z":"421176bb.777418","name":"Chart Formating","func":"var L =[];\nfor(var i=0;i<msg.payload.length;i++)\n {\n     L[i] = \"\"+i;\n }\n  \nvar temp = '['+msg.payload+']';\nvar PLD =[];\nPLD.push(JSON.parse(temp));\n\n\nmsg.payload = [{\n    \"series\": [\"Time Domain Plot\"],\n    \"data\": PLD,\n    \"labels\": L \n}];\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":500,"wires":[["51947b92.9da514"]]},{"id":"51947b92.9da514","type":"ui_chart","z":"421176bb.777418","name":"","group":"a2421f44.52a8d","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1130,"y":500,"wires":[[],[]]},{"id":"8c770a40.d1d4e8","type":"inject","z":"421176bb.777418","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":500,"wires":[["b2eecd12.33401","8b2066e5.bdd1c","f023d8bc.d0106"]]},{"id":"66568b6c.7af62c","type":"debug","z":"421176bb.777418","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":950,"y":420,"wires":[]},{"id":"8b2066e5.bdd1c","type":"signal-generator","z":"421176bb.777418","name":"NCO2","signalfrequency":"44","samplingfrequency":"200","framerate":"1000","waveform":"sine","phase":"0","x":310,"y":500,"wires":[["5b7834ea.0959ec"]]},{"id":"f023d8bc.d0106","type":"signal-generator","z":"421176bb.777418","name":"NCO3","signalfrequency":"88","samplingfrequency":"200","framerate":"1000","waveform":"sine","phase":"0","x":310,"y":580,"wires":[["910ca2ec.e3a0f8"]]},{"id":"4ce1b1dd.97a0a","type":"adder","z":"421176bb.777418","name":"","num":"3","x":770,"y":500,"wires":[["66568b6c.7af62c","6f2977a2.7faa18"]]},{"id":"cf9839ea.4d5898","type":"gain","z":"421176bb.777418","name":"","gain":"4","x":450,"y":400,"wires":[["678cf6f3.5837f"]]},{"id":"5b7834ea.0959ec","type":"gain","z":"421176bb.777418","name":"","gain":"0.4","x":450,"y":500,"wires":[["f1d3f243.773158"]]},{"id":"910ca2ec.e3a0f8","type":"gain","z":"421176bb.777418","name":"","gain":"0.8","x":450,"y":580,"wires":[["ee631571.b75178"]]},{"id":"678cf6f3.5837f","type":"function","z":"421176bb.777418","name":"Adder","func":"var nmsg = {};\nnmsg.signal = msg.payload;\nnmsg.nodename = 'nco1';\nreturn {payload:nmsg};","outputs":1,"noerr":0,"x":590,"y":400,"wires":[["4ce1b1dd.97a0a"]]},{"id":"f1d3f243.773158","type":"function","z":"421176bb.777418","name":"Adder","func":"var nmsg = {};\nnmsg.signal = msg.payload;\nnmsg.nodename = 'nco2';\nreturn {payload:nmsg};","outputs":1,"noerr":0,"x":590,"y":500,"wires":[["4ce1b1dd.97a0a"]]},{"id":"ee631571.b75178","type":"function","z":"421176bb.777418","name":"Adder","func":"var nmsg = {};\nnmsg.signal = msg.payload;\nnmsg.nodename = 'nco3';\nreturn {payload:nmsg};","outputs":1,"noerr":0,"x":590,"y":580,"wires":[["4ce1b1dd.97a0a"]]},{"id":"a2421f44.52a8d","type":"ui_group","z":"","name":"Default","tab":"703821a7.61db48","disp":true,"width":"8","collapse":false},{"id":"703821a7.61db48","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]
