SampleNRFlows/nco.json
[{"id":"85bcdf6e.029fb8","type":"signal-generator","z":"6dcc64c3.3ff0ec","name":"NCO1","signalfrequency":"10.06","samplingfrequency":"200","framerate":"500","waveform":"sine","phase":"0","x":430,"y":480,"wires":[["2ecbfade.986d76","6fe8bc4b.1c0e4c"]]},{"id":"2ecbfade.986d76","type":"function","z":"6dcc64c3.3ff0ec","name":"Chart Formating","func":"var L =[];\nfor(var i=0;i<msg.payload.signal.length;i++)\n {\n     L[i] = \"\"+i;\n }\n  \nvar temp = '['+msg.payload.signal+']';\nvar PLD =[];\nPLD.push(JSON.parse(temp));\n\n\nmsg.payload = [{\n    \"series\": [\"Time Domain Plot\"],\n    \"data\": PLD,\n    \"labels\": L \n}];\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":480,"wires":[["5ffda1d4.b95fe8"]]},{"id":"5ffda1d4.b95fe8","type":"ui_chart","z":"6dcc64c3.3ff0ec","name":"","group":"b26f3196.42bcc","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":830,"y":480,"wires":[[],[]]},{"id":"c32bfa49.3a7cc","type":"inject","z":"6dcc64c3.3ff0ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":480,"wires":[["85bcdf6e.029fb8"]]},{"id":"6fe8bc4b.1c0e4c","type":"debug","z":"6dcc64c3.3ff0ec","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":400,"wires":[]},{"id":"b26f3196.42bcc","type":"ui_group","z":"","name":"Default","tab":"ad434109.3a893","disp":true,"width":"10","collapse":false},{"id":"ad434109.3a893","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]